  <!-- Start Footer -->  
    <!-- Start Contact Information -->
  <section id="contact-information">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center leftReveal">
          <span class="dark-icon mb5 pe-7s-home"></span>
          <h5 class="no-margin-bottom spaced">{{place}}</h5>
        </div><!-- /.column -->

        <div class="col-sm-4 mt30-xs text-center bottomReveal">
          <span class="dark-icon mb5 pe-7s-phone"></span>
          <h5 class="no-margin-bottom spaced">{{phone}}</h5>
        </div><!-- /.column -->

        <div class="col-sm-4 mt30-xs text-center topReveal">
          <span class="dark-icon mb5 pe-7s-plug"></span>
          <h5 class="no-margin-bottom spaced">{{email}}</h5>
        </div><!-- /.column -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>
  <!-- End Contact Information -->

  <footer class="page-footer">
    <div class="container">
      <!-- Contact Information -->
      <div class="row">
        <div class="col-md-12 text-center">
          &copy; 2016 <b>{{copyright}}</b>. All Rights Reserved.
        </div><!-- /.column -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </footer>
  <!-- End Footer -->