	
	<!-- Begin Jumbotron -->
	<div id="home" class="jumbotron">
		<div class="container">
			<div class="row">
				<!-- Content -->
				<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<div class="top-content bottomReveal">
						<h3>{{greet}}</h3>
						<span class="divider"></span>
						<p>{{intro}} </p>
						<p class="no-margin">
							<a class="btn btn-primary btn-lg scroll-link" href="#/profile" role="button">{{more}}</a>
						</p>
					</div>
				</div><!-- /.column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div>
	<!-- End Jumbotron -->